<div class="home">
    <div class="content">
        <div class="main-component">
            <div class="title-group">
                <h1 class="title-text spotify-title animate__animated">Spotify</h1>
                <h1 class="title-text magnify-title animate__animated">MAGNIFY</h1>
            </div>
            <div class="welcome-message-group">
                <p class="lead">
                    Based on your algorithm, let A.I. generate a playlist perfect for you!
                </p>
            </div>
            
            <div class="login-component">
                <button type="button" class="btn btn-login" (click)="onLogin();">
                    Log in to Spotify
                </button>
            </div>
        </div>

        <!-- animation component -->
    </div>
    <app-footer class="footer"></app-footer>
</div>