<app-loading-page [userLoggedIn]="userLoggedIn"></app-loading-page>

<div class="page" *ngIf="userLoggedIn">
    <div class="content row">
        <div class="left-component col-7">
            <div class="title-group">
                <h1 class="page-title">Done!</h1>
            </div>
            <div class="message-group">
                <p class="lead">
                    Your playlist has been created! Hope you like what we have recommended
                    for you. We recommend coming back in a week and get a brand new playlist!
                </p>
            </div>
            <div class="login-component animate__animated animate__fadeIn" *ngIf="showHome">
                <button type="button" class="btn btn-login" (click)="onTakeHome();">
                    Take me home
                </button>
            </div>
        </div>
        <div class="right-component col-5 row">
            <div class="spinner-border" role="status" *ngIf="!isEmbededLoaded">
                <span class="visually-hidden">Loading...</span>
              </div>
            <div class="animate__animated animate__fadeIn" *ngIf="isEmbededLoaded" [innerHTML]="embeded | safeHtml"></div>
        </div>
    </div>
</div>