.page{
    height: 100%;
}

.content{
    height: 95%;
    width: 100%;
    padding-top: 150px;
}

.right-component{
    height: 100%;
}

.page-title{
    font-size: 4.5em;
    color: #87C38F;
    font-weight: 900;
    margin: 0;
}

h1, p {
    cursor: default;
}

.btn-login  {
    font-size: 20px;
    font-weight: 200;
    color: #F8F3F2;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
  }
  
.btn-login::after {
    content: "";
    background-color: #DA2C38;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
    border-radius: 5px;
}

.btn-login:hover::after {
    top: 0px;
    left: 0px;
}