<div class="help">
    <div class="content">
        <div class="main-component">
            <div class="help-title-component">
                <h1 class="title-text spotify-title">Help</h1>
            </div>
            <div class="help-content">
                <p class="lead">
                    Creating a new playlist is easy! Simply click the "Create" button and follow the on-screen instructions to get started.
                </p>
                <p class="lead">
                    If you ever need to navigate back to the home screen, simply click the hamburger icon in the top right corner and select "Home" from the menu.
                </p>
                <p class="lead">
                    Ready to start discovering new music? Click the button below to get started! 
                    If you have any further questions or issues, please don't hesitate to contact our support team for assistance.
                </p>
            </div>
        </div>
        <div class="login-component">
            <button type="button" class="btn btn-login" (click)="onLogin();">
                Start
            </button>
        </div>
    </div>
    <app-footer class="footer"></app-footer>
</div>
