<div class="help">
    <div class="content">
        <div class="main-component">
            <div class="help-title-component">
                <h1 class="title-text spotify-title">Help</h1>
            </div>
            <div class="help-content">
                <p class="lead">
                    [App Name] is a [description of your app's purpose and main features]. 
                    Our mission is to [explain the problem your app is solving or the goal it is helping users achieve].
                </p>
                <p class="lead">
                    [Insert a brief history of your app's development here, including any major milestones, awards, 
                    or recognition you've received.]
                </p>
                <p class="lead">
                    Our team is made up of [briefly describe your team members and their expertise]. 
                    We're passionate help [explain why your team is motivated to work on this project and what 
                    you hope to achieve].
                </p>
                <p class="lead">
                    [Insert a section on your app's unique selling points and why users should choose 
                    your app over competitors.]
                </p>
                <p class="lead">
                    At [App Name], we're committed to [explain any values or principles that your company 
                    stands for, such as user privacy, accessibility, or sustainability]. We're constantly 
                    working to improve our app and welcome feedback from our users.
                </p>
                <p class="lead">
                    Thank you for choosing [App Name]. We hope you enjoy using our app as much as 
                    we enjoyed creating it!
                </p>
            </div>
        </div>
        <div class="login-component">
            <button type="button" class="btn btn-login" (click)="onLogin();">
                Log in to Spotify
            </button>
        </div>
    </div>
    <app-footer class="footer"></app-footer>
</div>
