
<ng-template #content let-offcanvas class="offcanvas">
    <div class="offcanvas-body">
        <!-- close -->
        <div class="close-button d-flex flex-row-reverse">
            <i class="animate__animated icon-button bi bi-x-lg close-button-icon" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></i>
        </div>

        <!-- buttons -->
        <div class="link-button-list">
            <div class="animate__animated d-flex justify-content-center btn btn-offcanvas-custom">
                HOME
            </div>
            <div class="animate__animated d-flex justify-content-center btn btn-offcanvas-custom">
                ABOUT
            </div>
            <div class="animate__animated d-flex justify-content-center btn btn-offcanvas-custom">
                HELP
            </div>
        </div>
    </div>
</ng-template>

<i class="animate__animated icon-button bi bi-list open-canvas-icon" 
    aria-label="Open offcanvas" (click)="open(content)"></i>
