
<ng-template #content let-offcanvas>
    <div class="offcanvas-body">
        <div class="top-navbar d-flex align-items-end">
            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn" aria-label="Close" (click)="offcanvas.dismiss('Cross click')">ass</button>
            </div>
        </div>
    
        <div class="bottom-navbar d-flex align-items-start">
        </div>
    </div>
</ng-template>

<div class="position-absolute top-0 end-0">
    <button class="btn" (click)="open(content)">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>
</div>