<!-- <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-2"><b>SpotifyMagnify</b></span>
    </a>

    <ul class="nav nav-pills">
    <li class="nav-item"><a [routerLink]="['/']" class="nav-link" aria-current="page">Home</a></li>
    <li class="nav-item"><a [routerLink]="['/dashboard']" class="nav-link">Dashboard</a></li>
    <li class="nav-item"><a [routerLink]="['/profile']" class="nav-link">Profile</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Log In</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Log Out</a></li>
    </ul>
</header> -->

<ng-template #content let-offcanvas>
    <div class="offcanvas-body">
        <div class="top-navbar d-flex align-items-end">
            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn" aria-label="Close" (click)="offcanvas.dismiss('Cross click')">ass</button>
            </div>
        </div>
    
        <div class="bottom-navbar d-flex align-items-start">
        </div>
    </div>




	<!-- <div class="offcanvas-header">
		<h4 class="offcanvas-title" id="offcanvas-basic-title">Profile update</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
		<p>Hello</p>
		<div class="text-end">
			<button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Save click')">Save</button>
		</div>
	</div> -->
</ng-template>

<div class="d-flex flex-row-reverse">
    <button class="btn" (click)="open(content)">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
    </button>
</div>