<div class="about">
    <div class="content">
        <div class="title-component">
            <h1 class="title-text spotify-title animate__animated">Spotify</h1>
            <h1 class="title-text magnify-title animate__animated">MAGNIFY</h1>
        </div>
        <div class="about-content">
            <p class="lead">
                Based on your algorithm, let A.I. generate a playlist perfect for you!
            </p>
        </div>
    </div>
    <app-footer class="footer"></app-footer>
</div>