<div class="about">
    <div class="content">
        <div class="main-component">
            <div class="about-title-component">
                <h1 class="title-text spotify-title">About</h1>
            </div>
            <div class="about-content lead">
                <p>
                    Magnify is an innovative application that generates personalized playlists based on your unique listening patterns. 
                    Our mission is to help you discover new music and keep exploring the vast world of artists and genres.
                </p>
                <p>
                    Our app was created out of a passion for music and the constant thirst for new sounds.
                    As avid music listeners ourselves, we understand the need for fresh playlists and the joy of discovering new artists.
                </p>
                <p>
                    With Magnify, you can effortlessly discover new music that matches your tastes and preferences, without the hassle of manually searching for new tracks.
                    Our intelligent algorithm analyzes your listening history and curates a playlist that is tailored to your unique tastes and moods.
                </p>
                <p>
                    Thank you for choosing Magnify to enhance your music listening experience.
                    We are dedicated to providing you with the best possible service and helping you discover your next favorite song.
                </p>
            </div>
        </div>
    </div>
    <app-footer class="footer"></app-footer>
</div>
