<div class="help">
    <div class="content">
        <div class="main-component">
            <div class="help-title-component">
                <h1 class="title-text spotify-title">Privacy Policy</h1>
            </div>
            <div class="help-content">
                <p class="lead">
                    At Magnify, we take your privacy seriously. This privacy policy explains how we use, collect, and protect your personal information.
                </p>
                <p class="lead">
                    <b>1. Personal Information</b><br>
                    We do not any collect personal information from you. The only information available to us is what the Spotify API provides. 
                    We will not sell or share your personal information with third parties unless required by law.
                </p>
                <p class="lead">
                    <b>2. Cookies</b><br>
                    Our website does not cookies.
                </p>
                <p class="lead">
                    <b>3. Security</b><br>
                    We take reasonable steps to protect your personal information from unauthorized access, use, or disclosure. 
                    However, we cannot guarantee the security of your personal information.
                </p>
                <p class="lead">
                    <b>4. Explicit</b><br>
                    Our tool does not guarantee that the songs recommended are not explicit.
                </p>
                <p class="lead">
                    <b>5. Changes to This Privacy Policy</b><br>
                    We may update this privacy policy from time to time.                    
                </p>
            </div>
        </div>
    </div>
    <app-footer class="footer"></app-footer>
</div>

