<app-loading-page [userLoggedIn]="userLoggedIn"></app-loading-page>

<div class="not-found" *ngIf="userLoggedIn">
    <div class="content animate__animated animate__jackInTheBox">
        <div class="title-group">
            <h1 class="title-text spotify-title animate__animated animate__jackInTheBox">Hi {{username}}</h1>
        </div>
        <div class="welcome-message-group">
            <p class="lead">
                Here is what will happen. Your algorithm and your most played songs will determine your next playlist.
                There will be a mix of brand new recommended songs and hidden songs from your favorite artists.
                Whenever you are ready, hit the button and enjoy!
            </p>
        </div>
        
        <div class="p-4 justify-content-center">
            <button type="button animate__animated" class="slide" (click)="onCreate()">
                <div>Create</div>
            </button>
        </div>
    </div>
</div>